.cover-image {
   background-image: url(https://desk-fd.zol-img.com.cn/t_s960x600c5/g2/M00/06/0B/ChMlWlzve4WIIQ7xAAbseRnLiJ0AAKUfwBXDh8ABuyR580.jpg); 
    z-index: -1;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
 .area{
    text-transform: uppercase;
    text-shadow: 0 2px 0 rgba(0,0,0,.25);
    color: #fff!important;
    background: linear-gradient(transparent,rgba(49,49,49,.5));
    text-shadow: 0 2px 0 rgba(0,0,0,.25);
    padding: 20px;
    margin: 30px;
    position: relative;
    height: 200px;
    font-size: smaller;
    font-weight: 600;
    cursor: pointer;
 }
.area:hover{
    height: 210px;
}
 .navbar{
    background-color: #313131;
 }

 .myfont{
     color: wheat;
     cursor: pointer;
 }
 .myfont:hover{
    background-color: inherit;
    font-size: larger;
 }
 .areaimg{
    height: 100%;
    position: absolute;
    bottom: -20px;
    right: 0px;
    z-index: 1;
 }
 .areaimg>h1{
     z-index: 2;
 }
 .blue{
    background-color: #1546c2!important;
 }
 .yellow{
    background-color: #ffe000;
 }
 .green{
    background-color: #288123;
 }

 .mojang-footer {
    background: #000;
    background-color: rgb(0, 0, 0);
    color: #757575;
    padding: 27px 0 25px;
}
a{
    text-decoration : none;
}