.cover-image {
   background: #000000;
   background: -webkit-linear-gradient(to top, #000000, #434343);
   background: linear-gradient(to top, #000000, #434343);
   z-index: -1;
   position: fixed;
   top: 0px;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
}

.area {
   text-transform: uppercase;
   text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
   color: #fff!important;
   background: linear-gradient(transparent, rgba(49, 49, 49, .5));
   position: relative;
   cursor: pointer;
   font-size: smaller;
   font-weight: 600;
   width: 80%;
   padding: 20px;
   opacity: 0.8;
   margin: 30px auto;
}

.area h3{
   font-size: 3em;
}

.area p {
   font-size: 2em;
}

.area:hover {
   opacity: 1.0;
}

.navbar-inverse {
   background-color: #313131;
}

.myfont {
   color: wheat;
   cursor: pointer;
}

.myfont:hover {
   background-color: inherit;
   font-size: larger;
}

.blue {
   background-color: #1546c2!important;
   /* background-color: #337ab7; */
}

.yellow {
   background-color: #ffe000;
   /* background-color: #97ff56; */
}

.green {
   background-color: #288123;
   /* background-color: #ff4b4b; */
}

a {
   text-decoration: none;
}

.navbar-brand>img {
   position: relative;
   top: -12px;
   height: 38px;
}

@media screen and (max-width:600px) {
   .area{
      padding: 10px 20px;
   }
   .area h3{
       font-size: 2em;
   }
   .area p{
      font-size: 1.5em;
  }
}