<div class="cover">

  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand myfont" href="#"><span>BlackCarDriver.cn</span></a> 
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a class="myfont">联系站主</a>
          </li>
          <li>
            <a class="myfont">关于本站</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image"></div>

  <div class="container">

  <a href="/market">
    <div class="jumbotron area blue">
      <h1>Second Hand Market</h1>
      <p>闲置物品快速成交</p>
      <img src="../../assets/pig.png" class="areaimg">
    </div>
  </a>

    <div class="jumbotron area green">
        <h1>Talk And Study</h1>
        <p>学习交流,有问必答</p>
    </div>

    <div class="jumbotron area yellow">
        <h1>Boring room</h1>
      <p>打发时间专用</p>
    </div>

  </div>

  <footer class="mojang-footer" data-wcmmode="true">
      <div class="container">
        <div class="row position-relative">
          <div class="col-12" style="padding-top:10px; padding-bottom: 10px;">
            <div class="text-center text-smaller">
              <p class="m-1">
                <a>BlackCarDriver</a>
                 © 2009-<span>2019</span>. blackcardirver.cn All Rights  Reserved. 备案号：闽ICP备15012807号-1
              </p>           
            </div>
          </div>
        </div>
      </div>
    </footer>

</div>

