<div class="wrapper">

  <nav class="navbar-inverse navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
            <a class="navbar-brand"><img style="margin:2px" src="../../assets/doge.ico"> </a>
            <a class="navbar-brand title">BlackCarDriver.cn</a> 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="myfont">联系站主</a></li>
          <li><a class="myfont">关于本站</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">

  <a href="https://blackcardriver.cn/market/" >
    <div class="jumbotron area blue">
      <h1>Second Hand Market</h1>
      <p>二手交易区</p>
      <img src="../../assets/pig.png" class="areaimg">
    </div>
  </a>

    <div class="jumbotron area green">
        <h1>Chatting Room</h1>
        <p>广大聊天室</p>
        <img src="../../assets/pig.png" class="areaimg">
    </div>

    <div class="jumbotron area yellow">
        <h1>Driver's Notes</h1>
      <p>司机的笔记</p>
      <img src="../../assets/pig.png" class="areaimg">
    </div>

  </div>
  <div class="cover-image"></div>
  <div class="push"></div>
</div>


<footer class="mojang-footer" data-wcmmode="true">
  <div class="container">
    <div class="row position-relative">
      <div class="col-12" style="padding-top:10px; padding-bottom: 10px;">
        <div class="text-center text-smaller">
          <p class="m-1">
            <a>BlackCarDriver</a>
             © 20019-<span>2020</span>. blackcardirver.cn All Rights  Reserved. <br>
             备案号：粤ICP备19002807号-1
          </p>           
        </div>
      </div>
    </div>
  </div>
</footer>
