<div class="cover">

  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span>BlackCarDriver.cn</span></a> 
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">联系站主</a>
          </li>
          <li>
            <a href="#">关于本站</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image"></div>


  <footer id="foot" (mouseover)="show()" (mouseout)="hide()">  
  </footer>

</div>
