.cover-image {
   /* background-image: url(../../assets/8-21.jpg);  */
   background: #000000;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #000000, #434343);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #000000, #434343);
   z-index: -1;
   position: fixed;
   top: 0px;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
}

.area {
   text-transform: uppercase;
   text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
   color: #fff!important;
   background: linear-gradient(transparent, rgba(49, 49, 49, .5));
   text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
   padding: 20px;
   margin: 30px auto;
   position: relative;
   height: 190px;
   font-size: smaller;
   font-weight: 600;
   cursor: pointer;
   width: 80%;
   opacity: 0.9;
}

.area:hover {
   opacity: 1.0;
}

.navbar-inverse {
   background-color: #313131;
}

.myfont {
   color: wheat;
   cursor: pointer;
}

.myfont:hover {
   background-color: inherit;
   font-size: larger;
}

.areaimg {
   height: 120%;
   position: absolute;
   bottom: -20px;
   right: 0px;
   z-index: 1;
}

.blue {
   background-color: #1546c2!important;
   /* background-color: #337ab7; */
}

.yellow {
   background-color: #ffe000;
   /* background-color: #97ff56; */
}

.green {
   background-color: #288123;
   /* background-color: #ff4b4b; */
}

a {
   text-decoration: none;
}

.navbar-brand>img {
   position: relative;
   top: -12px;
   height: 38px;
}

.title {
   color: #fff;
   font-size: 1.7em;
}