/* You can add global styles to this file, and also import other style files */
:root{
    --footerheight:160px;
    --footerheight-n:-160px 
}

a:hover{
    cursor: pointer;
    text-decoration : none ;
}

/*======= 调节footer位置 =======*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin-bottom: var(-footerheight-n);
}
.push, .footer{
    height: var(--footerheight);
}

/* ======= footer css ======= */
#footer {
    height: var(--footerheight);
    position: relative;
    bottom: 0px;
    margin-top: -160px;
 }
 
 .main-footer {
    padding-top: 20px;
    background: #202020;
    color: #e1dcdc;
    border-bottom: 1px solid #303030;
 }
 
 .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
    font-size: 1.2em;
 }
 
 .widget .title:after {
    content: "";
    width: 40%;
    height: 1px;
    background: #337ab7;
    position: absolute;
    left: 0;
    bottom: -1px;
 }
 
 .main-footer .widget .tag-cloud a {
    border: 1px solid #494747;
 }
 
 .main-footer .widget {
    padding: 10px 30px;
    box-sizing: border-box;
    text-align: initial;
 }
 
 .widget .tag-cloud a {
    padding: 2px 4px;
    color: #959595;
    margin: 0 7px 7px 0;
    font-size: 0.9em;
 }
 
 .copyright {
    background: #111;
    color: #555;
    border-top: 1px solid #303030;
    font-size: 1.1em;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 20px;
 }
 